.centered{
  text-align: center;
}

.container{
  max-width: 700px;
  margin: auto;
  /* display: flex; */
}

.fr{
  float: right;
}

.spaces{
  white-space: pre;
}

.ml-25{
  margin-left: 25px;
}

@media only screen and (max-width: 768px) { 
  .fr {
    float: inline-start;
  }
}

@media only screen and (min-width: 768px) { 
  .breakline{
    display: none;
  }
}